name: Build VizoX APK
on: 
  workflow_dispatch:
  push:

jobs:
  build:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'

      - name: Install System Dependencies
        run: |
          sudo apt update
          sudo apt install -y git zip unzip autoconf cmake libtool pkg-config zlib1g-dev libncurses5-dev libncursesw5-dev libtinfo5 cmake libffi-dev libssl-dev python3-dev libgdbm-dev libnss3-dev libsqlite3-dev libreadline-dev tk-dev libbz2-dev
          pip install --upgrade pip
          pip install buildozer cython==0.29.33 virtualenv

      - name: Build APK with Buildozer
        run: |
          yes | buildozer android debug
        continue-on-error: false

      - name: Upload APK Artifact
        uses: actions/upload-artifact@v4
        with:
          name: VizoX-Final-APK
          path: bin/*.apk
